/* 프리텐다드 폰트  */

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* 사토시 폰트 */

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./font/satoshi/Satoshi-Bold.otf") format("opentype");
}

/* 노멀라이즈 시작 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 노멀라이즈 끝 */
img {
  width: 100%;
  height: 100%;
  display: block;
}

/* html 기본 설정 */
html {
  font-family: "Pretendard", sans-serif;
  font-size: max(0.52083333vw, 10px);
  overflow-x: hidden;
  scroll-behavior: auto;
}
body {
  color: var(--black-100);
}
.split-title {
  overflow: hidden;
}
.split-title .char {
  display: inline-block;
  will-change: transform, opacity;
}
/* 로딩 시작 */
html.is-loading,
body.is-loading {
  overflow: hidden;
  height: 100%;
  overscroll-behavior: none;
  touch-action: none;
}
body.is-loading main,
body.is-loading header,
body.is-loading footer {
  pointer-events: none;
  user-select: none;
}

/* 배경 */
.loading {
  position: fixed;
  inset: 0;
  background: var(--black-100);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 1s ease,
    visibility 1s ease;
}

/* 텍스트 */
.loading-text {
  position: relative;
  display: flex;
  width: fit-content;
  gap: 1.2rem;
}
.loading-text::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 20%;
  height: 0.2rem;
  width: 100%;
  background-color: #999;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  will-change: transform;
}

.loading.is-out .loading-text::after {
  animation: line 2s ease forwards;
  animation-delay: 0.8s;
}

@keyframes line {
  from {
    transform: translateX(-50%) scaleX(0);
  }
  to {
    transform: translateX(-50%) scaleX(2);
  }
}

.loading-text span {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--white-100);
  display: inline-block;
  will-change: transform, opacity;
}

/* ===============================
   Split Animation
================================ */
.loading.is-out .left {
  animation: splitLeft 2s ease forwards;
}
.loading.is-out .right {
  animation: splitRight 2s ease forwards;
}

@keyframes splitLeft {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    transform: translate(-8vw, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-16vw, 0);
    opacity: 0;
  }
}

@keyframes splitRight {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    transform: translate(8vw, 0);
    opacity: 1;
  }
  100% {
    transform: translate(16vw, 0);
    opacity: 0;
  }
}

/* ===============================
   Fade Out (배경)
================================ */
.loading.is-fade {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* 로딩 끝 */

/* 섹션 타이틀 애니메이션 */

.title-box h2 {
  display: inline-block;
  line-height: 1.1;
}

.title-box .title-mask {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.title-box .title-inner {
  display: inline-block;
  will-change: transform;
}
/* 헤더 시작 */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid var(--black-100);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2rem);
  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
  will-change: transform;
}
.top-bar:not(.is-show) {
  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
}
.top-bar.is-show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.top-bar.is-hide {
  transform: translateY(-100%);
}
.top-bar .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(var(--maxwidth) + 4rem);
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.top-bar .container .link-box a {
  position: relative;
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
  padding-bottom: 0.6rem;
}
.top-bar .container .link-box a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: var(--black-100);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
  will-change: transform;
}
.top-bar .container .link-box a:hover::before {
  transform: scaleX(1);
}
.top-bar .container .text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11rem;
}
.top-bar .container .text-box a {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
  padding-bottom: 0.6rem;
  box-sizing: border-box;
}
.top-bar .container .text-box a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: var(--black-100);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
  will-change: transform;
}
.top-bar .container .text-box a:hover::before {
  transform: scaleX(1);
}
/* 헤더 끝 */

/* 섹션1 시작 */

.sec-hero {
  padding: 15rem 0;
}
.sec-hero-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.sec-hero-grid .text-box {
  width: fit-content;
  height: fit-content;
}
.sec-hero-grid .text-box h1 {
  font-size: 12rem;
  font-weight: 700;
  line-height: 1;
}
.sec-hero-grid .text-box h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 24rem;
  line-height: 1;
}
.sec-hero-grid .text-box p {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 6rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

/* 섹션1 끝 */

/* 디바이더 시작 */
.divider {
  overflow-x: hidden;
  background-color: var(--black-100);
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}
.divider .text-gsap-box-top,
.text-gsap-box-bottom {
  display: flex;
  will-change: transform;
}
.divider .text-gsap-box-top p,
.text-gsap-box-bottom p {
  color: var(--white-100);
  font-size: 4.2rem;
  letter-spacing: 0.5rem;
  white-space: nowrap;
  margin-right: 5rem;
}
.divider .text-gsap-box-bottom p {
  margin-top: 3.6rem;
}

/* 디바이더 끝 */

/* 섹션2 시작 */

.sec-about {
  padding-top: 12rem;
}
.sec-about-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
}
.sec-about-grid .title-box h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 1.5;
}
.sec-about-grid .profile-box {
  display: flex;
  padding: 12rem 0;
}
.sec-about-grid .profile-box .left-box {
  padding-top: 2rem;
  max-width: 69.3rem;
  width: 100%;
  height: 100%;
}
.sec-about-grid .profile-box img {
  width: 39.5rem;
  height: 49.8rem;
  padding-bottom: 2rem;
  object-fit: cover;
}
.sec-about-grid .profile-box .img-box {
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.sec-about-grid .profile-box .img-box span:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  margin-right: 1.6rem;
}
.sec-about-grid .profile-box .img-box span:nth-child(2) {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black-40);
}
.sec-about-grid .profile-box .left-box .left-text-box {
  width: fit-content;
  height: fit-content;
}

.sec-about-grid .profile-box .right-box {
  width: 100%;
  display: flex;
  gap: 5.6rem;
  flex-direction: column;
}
.sec-about-grid .profile-box .right-box .con-title-box {
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--black-40);
}
.sec-about-grid .profile-box .right-box .right-con {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec-about-grid .profile-box .right-box .con-title-box h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.sec-about-grid .profile-box .right-box .right-con .con-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-1-text-box .con-1-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-1-text-box .con-1-text span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 600;
}
.sec-about-grid .profile-box .right-box .right-con .con-1-text-box .con-1-text span:nth-child(2) {
  font-size: 2rem;
  font-weight: 400;
}
.sec-about-grid .profile-box .right-box .right-con .con-2-text-box .con-2-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-2-text-box .con-2-text span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 600;
}
.sec-about-grid .profile-box .right-box .right-con .con-2-text-box .con-2-text span {
  font-size: 2rem;
  font-weight: 400;
}
.sec-about-grid .profile-box .right-box .right-con .con-3-text-box .con-3-text span {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-4-text-box .con-4-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-4-text-box .con-4-text span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 600;
}
.sec-about-grid .profile-box .right-box .right-con .con-4-text-box .con-4-text span {
  font-size: 2rem;
  font-weight: 400;
}
/* 섹션 2 끝 */

/* 섹션 3 시작 */
.sec-project {
  padding-bottom: 12rem;
  height: 100vh;
}
#sec-project {
  padding-top: 4rem;
}
.sec-project-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
}
.sec-project-grid .title-box {
  padding-bottom: 2rem;
}
.sec-project-grid .title-box h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 1.5;
}
.sec-project-grid .con-box .project-list-item {
  will-change: height;
  border-bottom: 1px solid var(--black-40);
}
.sec-project-grid .con-box .project-list-item .item-title span:nth-child(1),
.sec-project-grid .con-box .project-list-item .item-title span:nth-child(2) {
  display: block;
  width: 11.8rem;
}
.sec-project-grid .con-box .item-title {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid var(--black-40);
}
.sec-project-grid .con-box .item-title span {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
}
.sec-project-grid .con-box .item-title span:nth-child(2) {
  letter-spacing: -0.02rem;
}
.sec-project-grid .con-box .item-title span:nth-child(3) {
  font-size: 3.6rem;
  font-weight: 600;
}
.sec-project-grid .con-box .item-body {
  background-color: #fff;
  padding: 4rem 0;
}
.sec-project-grid .con-box .item-body .item-body-inner {
  display: flex;
  gap: 6rem;
}
.sec-project-grid .con-box .item-body .left-box {
  border-radius: 1.6rem;
  overflow: hidden;
}
.sec-project-grid .con-box .item-body .left-box a:hover img {
  width: 70.2rem;
}
.sec-project-grid .con-box .item-body img {
  width: 46rem;
  height: 39.5rem;
  transition: all 0.3s;
  object-fit: cover;
}
.sec-project-grid .con-box .item-body .right-box .text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;
}
.sec-project-grid .con-box .item-body .right-box .text-box * {
  line-height: 1.5;
}
.sec-project-grid .con-box .item-body .right-box .text-box span {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--black-60);
}
.sec-project-grid .con-box .item-body .right-box .text-box h2 {
  font-size: 3.2rem;
  font-weight: 600;
}
.sec-project-grid .con-box .item-body .right-box .text-box p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.sec-project-grid .con-box .item-body .right-box .button-box {
  display: flex;
  gap: 2.4rem;
}
.sec-project-grid .con-box .item-body .right-box .button-box .button a {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 400;
  padding: 1.8rem 4rem;
  border: 1px solid var(--black-80);
  transition: all 0.5s ease;
}
.sec-project-grid .con-box .item-body .right-box .button-box .button a::before {
  content: "";
  background-color: var(--black-80);
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s ease;
  z-index: -1;
}
.sec-project-grid .con-box .item-body .right-box .button-box .button a:hover::before {
  transform: scaleX(1);
}
.sec-project-grid .con-box .item-body .right-box .button-box .button a:hover {
  color: var(--white-100);
}

/* 섹션 3 끝 */

/* 섹션 4 시작 */

.sec-contact-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
}
.sec-contact-grid .title-box {
  display: flex;
  flex-direction: column;
  padding-top: 12rem;
}
.sec-contact-grid .title-box h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 1.5;
}
.sec-contact-grid .title-box .title-2 {
  display: flex;
  gap: 3rem;
  padding-bottom: 0.8rem;
}
.sec-contact-grid .title-box .title-2 .contact-title-text {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sec-contact-grid .title-box .title-2 .contact-title-text span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.5;
}
.sec-contact-grid .title-box .title-2 .contact-title-text span:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.5;
}
.sec-contact-grid .title-box .title-3 .contact-title-text {
  display: flex;
  gap: 1rem;
}
.sec-contact-grid .title-box .title-3 .contact-title-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid var(--black-80);
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.5;
  transition: all 0.3s;
}
.sec-contact-grid .title-box .contact-title-text a:hover {
  background-color: var(--black-80);
  color: var(--white-100);
}
.sec-contact-grid .contact-con {
  display: flex;
  padding: 6rem 0 12rem;
}
.sec-contact-grid .contact-con .text-box-1 {
  width: 100%;
}
.sec-contact-grid .contact-con .text-box-1 p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  color: var(--black-80);
}
/* 섹션 4 끝 */

/* 풋터 시작 */

footer {
  padding: 8rem 0;
  background-color: var(--black-80);
}
footer .text-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer .text-box p {
  color: var(--white-80);
  line-height: 1.5;
  opacity: 0.7;
  margin: 0 auto;
}
footer .text-box p:nth-child(1) {
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 0.7;
}
footer .text-box p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 400;
}
/* 풋터 끝 */
