/* 프리텐다드 폰트  */

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

/* 사토시 폰트 */

@font-face {
  font-family: "Satoshi Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Regular"),
    url("Satoshi-Regular.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Italic"),
    url("Satoshi-Italic.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Light";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Light"),
    url("Satoshi-Light.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Light Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Light Italic"),
    url("Satoshi-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Medium"),
    url("Satoshi-Medium.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Medium Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Medium Italic"),
    url("Satoshi-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Bold"),
    url("Satoshi-Bold.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Bold Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Bold Italic"),
    url("Satoshi-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Black";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Black"),
    url("Satoshi-Black.woff") format("woff");
}

@font-face {
  font-family: "Satoshi Black Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("Satoshi Black Italic"),
    url("Satoshi-BlackItalic.woff") format("woff");
}

/* 노멀라이즈 시작 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 노멀라이즈 끝 */
img {
  width: 100%;
  height: 100%;
  display: block;
}

/* html 기본 설정 */
html {
  font-family: "Pretendard", sans-serif;
  font-size: max(0.52083333vw, 10px);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  color: var(--black-100);
}
.char {
  display: inline-block;
}

/* 로딩 시작 */

.loading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: var(--black-80);
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease;
}
.loading-box.is-hide {
  opacity: 0;
  visibility: hidden;
}
.loading-box .loading-text {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--white-100);
  letter-spacing: 0.05rem;
}
.loading-box .loading-text div::after {
  content: "|";
}
/* 로딩 끝 */

/* 헤더 시작 */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid var(--black-100);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2rem);
  transition: transform 0.35s ease;
  will-change: transform;
}
.top-bar.is-hide {
  transform: translateY(-100%);
}
.top-bar .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(var(--maxwidth) + 4rem);
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.top-bar .container .link-box a {
  position: relative;
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
  padding-bottom: 0.6rem;
}
.top-bar .container .link-box a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: var(--black-100);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
}
.top-bar .container .link-box a:hover::before {
  transform: scaleX(1);
}
.top-bar .container .text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11rem;
}
.top-bar .container .text-box a {
  position: relative;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: -0.02rem;
  padding-bottom: 0.6rem;
  box-sizing: border-box;
}
.top-bar .container .text-box a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: var(--black-100);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
  will-change: transform;
}
.top-bar .container .text-box a:hover::before {
  transform: scaleX(1);
}
/* 헤더 끝 */

/* 섹션1 시작 */

.sec-hero {
  padding: 15rem 0;
}
.sec-hero-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.sec-hero-grid .text-box {
  width: fit-content;
  height: fit-content;
}
.sec-hero-grid .text-box h1 {
  font-size: 12rem;
  font-weight: 700;
  line-height: 1;
}
.sec-hero-grid .text-box h2 {
  font-family: "Satoshi Bold", sans-serif;
  font-size: 24rem;
  line-height: 1;
}
.sec-hero-grid .text-box p {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 6rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

/* 섹션1 끝 */

/* 디바이더 시작 */
.divider {
  overflow-x: hidden;
  background-color: var(--black-100);
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}
.divider .text-gsap-box-top,
.text-gsap-box-bottom {
  display: flex;
  will-change: transform;
}
.divider .text-gsap-box-top p,
.text-gsap-box-bottom p {
  color: var(--white-100);
  font-size: 4.2rem;
  letter-spacing: 0.5rem;
  white-space: nowrap;
  margin-right: 5rem;
}
.divider .text-gsap-box-bottom p {
  margin-top: 3.6rem;
}

/* 디바이더 끝 */

/* 섹션2 시작 */

.sec-about {
  padding-top: 12rem;
}
.sec-about-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
}
.sec-about-grid .title-box h2 {
  font-family: "Satoshi Bold", sans-serif;
  font-size: 9.6rem;
  line-height: 1.5;
}
.sec-about-grid .profile-box {
  display: flex;
  padding: 12rem 0;
}
.sec-about-grid .profile-box .left-box {
  padding-top: 2rem;
  max-width: 69.3rem;
  width: 100%;
  height: 100%;
}
.sec-about-grid .profile-box img {
  width: 39.5rem;
  height: 49.8rem;
  padding-bottom: 2rem;
}
.sec-about-grid .profile-box .img-box {
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.sec-about-grid .profile-box .img-box span:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  margin-right: 1.6rem;
}
.sec-about-grid .profile-box .img-box span:nth-child(2) {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black-40);
}
.sec-about-grid .profile-box .left-box .left-text-box {
  padding-top: 13.7rem;
  width: fit-content;
  height: fit-content;
}
.sec-about-grid .profile-box .left-box .left-text-box p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  color: var(--black-80);
}

.sec-about-grid .profile-box .right-box {
  width: 100%;
  display: flex;
  gap: 5.6rem;
  flex-direction: column;
}
.sec-about-grid .profile-box .right-box .con-title-box {
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--black-40);
}
.sec-about-grid .profile-box .right-box .right-con {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sec-about-grid .profile-box .right-box .con-title-box h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.sec-about-grid .profile-box .right-box .right-con .con-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-1-text-box .con-1-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-1-text-box .con-1-text span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 600;
}
.sec-about-grid .profile-box .right-box .right-con .con-1-text-box .con-1-text span:nth-child(2) {
  font-size: 2rem;
  font-weight: 400;
}
.sec-about-grid .profile-box .right-box .right-con .con-2-text-box .con-2-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-2-text-box .con-2-text span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 600;
}
.sec-about-grid .profile-box .right-box .right-con .con-2-text-box .con-2-text span {
  font-size: 2rem;
  font-weight: 400;
}
.sec-about-grid .profile-box .right-box .right-con .con-3-text-box .con-3-text span {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-4-text-box .con-4-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sec-about-grid .profile-box .right-box .right-con .con-4-text-box .con-4-text span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 600;
}
.sec-about-grid .profile-box .right-box .right-con .con-4-text-box .con-4-text span {
  font-size: 2rem;
  font-weight: 400;
}
/* 섹션 2 끝 */

/* 섹션 3 시작 */
.sec-project {
  padding: 12rem 0 0;
  height: 100vh;
  /* box-sizing: border-box; */
}
.sec-project-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
}
.sec-project-grid .title-box {
  padding-bottom: 7.6rem;
}
.sec-project-grid .title-box h2 {
  font-family: "Satoshi Bold", sans-serif;
  font-size: 9.6rem;
  line-height: 1.5;
}
.sec-project-grid .con-box .project-list-item {
  border-bottom: 1px solid var(--black-40);
}
.sec-project-grid .con-box .project-list-item .item-title span:nth-child(1),
.sec-project-grid .con-box .project-list-item .item-title span:nth-child(2) {
  display: block;
  width: 11.8rem;
}
.sec-project-grid .con-box .item-title {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid var(--black-40);
}
.sec-project-grid .con-box .item-title span {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
}
.sec-project-grid .con-box .item-title span:nth-child(2) {
  letter-spacing: -0.02rem;
}
.sec-project-grid .con-box .item-title span:nth-child(3) {
  font-size: 3.6rem;
  font-weight: 600;
}
.sec-project-grid .con-box .item-body {
  padding: 4rem 0;
}
.sec-project-grid .con-box .item-body .item-body-inner {
  display: flex;
  gap: 6rem;
}
.sec-project-grid .con-box .item-body .left-box {
  border-radius: 1.6rem;
  overflow: hidden;
}
.sec-project-grid .con-box .item-body img {
  width: 70.2rem;
  height: 39.5rem;
  object-fit: cover;
}
.sec-project-grid .con-box .item-body .right-box {
  width: 100%;
}
.sec-project-grid .con-box .item-body .right-box .text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;
}
.sec-project-grid .con-box .item-body .right-box .text-box * {
  line-height: 1.5;
}
.sec-project-grid .con-box .item-body .right-box .text-box span {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--black-60);
}
.sec-project-grid .con-box .item-body .right-box .text-box h2 {
  font-size: 3.2rem;
  font-weight: 600;
}
.sec-project-grid .con-box .item-body .right-box .text-box p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.sec-project-grid .con-box .item-body .right-box .button-box {
  display: flex;
  gap: 2.4rem;
}
.sec-project-grid .con-box .item-body .right-box .button-box .button a {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 400;
  padding: 1.8rem 4rem;
  border: 1px solid var(--black-80);
  transition: all 0.5s ease;
}
.sec-project-grid .con-box .item-body .right-box .button-box .button a::before {
  content: "";
  background-color: var(--black-80);
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s ease;
  z-index: -1;
}
.sec-project-grid .con-box .item-body .right-box .button-box .button a:hover::before {
  transform: scaleX(1);
}
.sec-project-grid .con-box .item-body .right-box .button-box .button a:hover {
  color: var(--white-100);
}
/* 섹션 3 끝 */

/* 섹션 4 시작 */

.sec-contact-grid {
  max-width: var(--maxwidth);
  margin: 0 auto;
}
.sec-contact-grid .title-box {
  padding-top: 12rem;
}
.sec-contact-grid .title-box h2 {
  font-family: "Satoshi Bold", sans-serif;
  font-size: 9.6rem;
  line-height: 1.5;
}
.sec-contact-grid .contact-con {
  display: flex;
  padding: 12rem 0;
}
.sec-contact-grid .contact-con .text-box-1 {
  width: 100%;
}
.sec-contact-grid .contact-con .text-box-1 p {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: -0.02rem;
}
.sec-contact-grid .contact-con .text-box-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-width: 108.7rem;
}
.sec-contact-grid .contact-con .text-box-2 .contact-text-1 span:nth-child(1) {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-right: 2rem;
}
.sec-contact-grid .contact-con .text-box-2 .contact-text-1 span:nth-child(2) {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
.sec-contact-grid .contact-con .text-box-2 .contact-text-2 span {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-right: 2rem;
}
.sec-contact-grid .contact-con .text-box-2 .contact-text-2 a {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s;
}
.sec-contact-grid .contact-con .text-box-2 .contact-text-2 a:hover {
  background-color: var(--black-80);
  color: var(--white-100);
}
.sec-contact-grid .contact-con .text-box-2 .contact-text-2 span {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-right: 2rem;
}
.contact-text-1,
.contact-text-2 {
  padding-left: 1rem;
}
.sec-contact-grid .contact-con .text-box-2 .contact-text-3 a {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  transition: all 0.3s;
}
.sec-contact-grid .contact-con .text-box-2 .contact-text-3 a:hover {
  background-color: var(--black-80);
  color: var(--white-100);
}
/* 섹션 4 끝 */

/* 풋터 시작 */

footer {
  padding: 8rem 0;
  background-color: var(--black-80);
}
footer .text-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer .text-box p {
  color: var(--white-80);
  line-height: 1.5;
  font-weight: 700;
  opacity: 0.7;
  margin: 0 auto;
}
footer .text-box p:nth-child(1) {
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 0.7;
}
footer .text-box p:nth-child(2) {
  font-size: 1.4rem;
}
/* 풋터 끝 */
